.woman{
  height: 75%;
  width: 50%;
}

.scene{
  height:20%;
  width: 55%;
}

.one{
  height: 10%;
  width: 10%;
}

.two{
  height: 10%;
  width: 10%;
}

.three{
  height: 10%;
  width: 10%;
}

.filterqueen{
  height: 25%;
  width:25%;
}

.logo{
  height:40%;
  width: 50%;
}

.guarantee{
  height: 10%;
  width: 10%;
}
